:root {
    --ds-badge-background: var(--ds-color-concept-blank);
    --ds-badge-border-color: var(--ds-color-concept-neutral);
    --ds-badge-label-color: var(--ds-color-concept-outline);
    --ds-badge-done-icon-color: var(--ds-color-concept-success);

    --ds-badge-label-fontSize: var(--ds-typography-label-fontSize);
    --ds-badge-label-lineHeight: var(--ds-typography-label-lineHeight);
    --ds-badge-label-fontWeight: var(--ds-typography-label-fontWeight);
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--ds-space-padding-s);
  padding: var(--ds-space-padding-s) var(--ds-space-padding-m);
  border-radius: var(--ds-radii-concept-m);
  background-color: var(--ds-badge-background);
  border: 1px solid var(--ds-badge-border-color);
  color: var(--ds-badge-label-color);
  font-size: var(--ds-badge-label-fontSize);
  font-weight: var(--ds-badge-label-fontWeight);
  line-height: var(--ds-badge-label-lineHeight);
  white-space: nowrap;
}

.badgeIcon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  display: inline-block;
}

.badgeIcon--in-progress {
  stroke: var(--ds-color-concept-neutral);
}

.badgeIcon--done {
  fill: var(--ds-badge-done-icon-color);
}

