:root {
    --ds-logo-color: var(--ds-color-concept-primary);
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.logoIcon {
  width: 100%;
  height: 100%;
  fill: var(--ds-logo-color);
}

