@import '../../styles/foundation.css';

.argTypes :global(thead > tr > *:first-of-type) {
  border-top-left-radius: 8px;
  border-inline-start: 1px solid #e0e0e0;
}

.argTypes :global(thead > tr > *:last-of-type) {
  border-top-right-radius: 8px;
  border-inline-end: 1px solid #e0e0e0;
}

.argTypes :global(thead > tr:first-of-type > *) {
  border-block-start: 1px solid #e0e0e0;
}

.argTypes :global(tbody > tr:last-of-type > *) {
  border-block-end: 1px solid #e0e0e0 !important;
}

.argTypes :global(tbody > tr > *:first-of-type) {
  border-inline-start: 1px solid #e0e0e0 !important;
}

.argTypes :global(tbody > tr > *:last-of-type) {
  border-inline-end: 1px solid #e0e0e0 !important;
}

.argTypes :global(tbody > tr:first-of-type > *) {
  border-block-start: 1px solid #e0e0e0 !important;
}

.argTypes :global(tbody > tr > *) {
  border-top: 1px solid #e0e0e0 !important;
  font-size: var(--scale3) !important;
}

.argTypes :global(.docblock-argstable-body) {
  -webkit-filter: none !important;
  filter: none !important;
}

.argTypes :global(.docblock-argstable-body tr:first-of-type > td:first-of-type) {
  border-top-left-radius: 0 !important;
}

.argTypes :global(.docblock-argstable-body tr:first-of-type > td:last-of-type) {
  border-top-right-radius: 0 !important;
}

.argTypes :global(.docblock-argstable-body tr:last-of-type > td:first-of-type) {
  border-bottom-left-radius: 8px !important;
}

.argTypes :global(.docblock-argstable-body tr:last-of-type > td:last-of-type) {
  border-bottom-right-radius: 8px !important;
}

.argTypes :global(th) {
  color: var(--text-primary-light) !important;
  font-size: var(--scale3) !important;
  padding-top: var(--space-4) !important;
  padding-bottom: var(--space-4) !important;
}

