:root {
  /* Neutral Colors */
  --ds-color-global-neutral-100: #1a1814;
  --ds-color-global-neutral-200: #302c27;
  --ds-color-global-neutral-300: #46413a;
  --ds-color-global-neutral-400: #5d564d;
  --ds-color-global-neutral-500: #746b60;
  --ds-color-global-neutral-600: #8b8174;
  --ds-color-global-neutral-700: #a39788;
  --ds-color-global-neutral-800: #e5ddc8;
  --ds-color-global-neutral-900: #f0eadb;
  --ds-color-global-neutral-1000: #faf7ee;

  /* Primary Colors */
  --ds-color-global-primary-100: #003436;
  --ds-color-global-primary-200: #004b4f;
  --ds-color-global-primary-300: #006268;
  --ds-color-global-primary-400: #007b82;
  --ds-color-global-primary-500: #01949a;
  --ds-color-global-primary-600: #009da3;
  --ds-color-global-primary-700: #00b4ba;
  --ds-color-global-primary-800: #00cdd4;
  --ds-color-global-primary-900: #33dde4;
  --ds-color-global-primary-1000: #8de4e8;

  /* Accent Colors */
  --ds-color-global-accent-100: #3d0614;
  --ds-color-global-accent-200: #5c0a1e;
  --ds-color-global-accent-300: #7b0e28;
  --ds-color-global-accent-400: #9a1232;
  --ds-color-global-accent-500: #db1f48;
  --ds-color-global-accent-600: #d94163;
  --ds-color-global-accent-700: #d9627f;
  --ds-color-global-accent-800: #e88299;
  --ds-color-global-accent-900: #e9a6b5;
  --ds-color-global-accent-1000: #e9ccd4;

  /* Highlight Colors */
  --ds-color-global-highlight-100: #001a2a;
  --ds-color-global-highlight-200: #002540;
  --ds-color-global-highlight-300: #003055;
  --ds-color-global-highlight-400: #003b6b;
  --ds-color-global-highlight-500: #004369;
  --ds-color-global-highlight-600: #005582;
  --ds-color-global-highlight-700: #006ca4;
  --ds-color-global-highlight-800: #0084c4;
  --ds-color-global-highlight-900: #3399d1;
  --ds-color-global-highlight-1000: #8bc2e2;
}

