.avatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
	user-select: none;
	width: 45px;
	height: 45px;
	border-radius: 10%;
  background-color: white;
}

.avatarImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
}

.avatarFallback {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: black;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
}

/* Size variants */
.avatarRoot--small {
	width: 32px;
	height: 32px;
}

.avatarRoot--small .avatarFallback {
	font-size: 12px;
}

.avatarRoot--medium {
	width: 45px;
	height: 45px;
}

.avatarRoot--medium .avatarFallback {
	font-size: 15px;
}

.avatarRoot--large {
	width: 64px;
	height: 64px;
}

.avatarRoot--large .avatarFallback {
	font-size: 20px;
}