@import '../../styles/foundation.css';

.storyToolbar :global(.docblock-code-toggle) {
  border-color: #e0e0e0;
  font-family: "Noto Sans", "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.5px;
}

.storyToolbar :global(.token) {
  font-size: var(--scale4) !important;
}

.storyToolbar :global(prismjs) {
  background-color: #1a1a1a !important;
}

